{% extends 'home.html' %}
{% block content %}
<div class="col-span-10 border p-4 flex flex-col gap-4 bg-white">
    <h1 class="line-clamp-2 text-4xl font-bold break-words p-4">{{post.title}}</h1>
    <img src="{{post.thumbnail.url}}" class="w-[80%] mx-auto object-cover h-[30%]">
    <p class="text-justify text-2xl">{{post.content}}</p>


</div>
<div class="releated-container col-span-2 flex flex-col gap-3 p-2 bg-white">
    <h1 class="text-center text-2xl font-bold p-2">Releated Posts</h1>
    {% for post in releated %}
    <div class="post flex gap-2 p-2 items-center border-t-[1px]">
        <img src="{{post.thumbnail.url}}"
            class="w-[60px] h-[60px] overflow-auto object-center object-cover flex-shrink-0" alt="">
        <h1 class="line-clamp-2 font-bold break-words"><a href="{% url 'detail' pk=post.id %}">{{post.title}}</a></h1>
    </div>
    {% endfor %}

</div>




{% endblock %}